* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: lightgray;
    margin: 0;
}
.super-container {
    display: grid;

    grid-template: 
    ". header ." 80px
    ". main-container ." 1fr /
    minmax(50px, 300px) 1fr minmax(50px, 300px);
 
    height: 100vh;
}
.main-container {
    grid-area: main-container;

    display: grid;
    background-color: lightgray;
    grid-template-columns: minmax(200px, 1fr) minmax(400px, 3fr) minmax(300px, 1.5fr);
}
.header {
    grid-area: header;

    background-color: rgb(250, 245, 245);
    margin-bottom: 20px;
    border-bottom: 3px rgb(189, 189, 189) solid;

    display: grid;
    grid-template-columns: 0.4fr 3fr 5fr;
    
    gap: 10px;
}
.logo {
    display: grid;
    place-items: center;
    justify-content: center;
}
.header button {
    height: 50px;
    width: 300px;
    border: 3px black solid;
    margin-left: 10px;
    border-radius: 10px;
}
.icons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    place-items: center;
}
.header img {
    width: 50px;
}
.icons img {
    width: 40px;

}
.box-container {
    min-height: 100vh;
}
.left-container {
    display: grid;

    grid-template-rows: 0.7fr 0.7fr 1fr;

    height: 100vh;
}
.box-1 {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr;

    padding: 5px;
}
.user div {
    border-bottom: 1px rgb(189, 189, 189) solid;
}
.user {
    display: grid;
    place-items: center;
}
.user img {
    width: 80px;
    margin: 20px;
}
h4 {
    color: rgb(189, 189, 189);
}
h5 {
    font-size: 0.9rem;
}
.box-1 p {
    color: rgb(43, 138, 247);
    font-weight: bold;
}
.views {
    display: grid;
    grid-template-columns: 1fr 40px;
}
.center-container {
    display: grid;

    grid-template-rows: 0.2fr 0.01fr 1fr 0.3fr;
}
.right-container {
    display: grid;

    grid-template-rows: 0.8fr 0.7fr 1fr;
}
.box-4 {
    display: grid;
    grid-template-rows: 1fr 0.8fr;
}
.box-4-1 {
    display: grid;
    grid-template-columns: 100px 1fr;

    place-items: center;
}
.box-4-1 img {
    width: 80px;
    border-radius: 100%;
    padding: 10px;
}
.box-4-1 button {
    height: 50px;
    width: 100%;
    border: 1px rgb(189, 189, 189) solid;
    margin-right: 10px;
    border-radius: 20px;
    background-color: rgb(250, 245, 245);
    text-align: left;
}
.box-4-1 button h4 {
    padding-left: 10px;
    font-weight: bolder;
}
.box-4-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}
.box-4-2 h4 {
    display: inline-block;
    padding-left: 5px;
}
.box-4-2 img {
    width: 18px;
}
.box-5 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
.box-7 {
    display: grid;
    display: grid;
    grid-template-rows: 0.6fr 5fr 1fr;

    padding: 5px;
}
.box-7 ul {
    color: rgb(134, 134, 134);
}
.box-7 li {
    padding: 10px 10px 30px 10px;
    color: rgb(134, 134, 134);
}
.linkedin {
    padding-left: 30px;
    color: rgb(134, 134, 134);
}
.show-more {
    padding-left: 50px;
}
.boxes {
    background-color: rgb(250, 245, 245);
    margin: 3px 10px;
    border: 3px rgb(189, 189, 189) solid;
    border-radius: 5px;
}
.break {
    padding: 5px;
    margin-bottom: 5px;
}
.blue-box {
    border: 2px blue dashed;
    margin: 5px;
}
.green-box {
    border: 2px green dashed;
    margin: 5px;
}
.pink-box {
    border: 2px pink dashed;
    margin: 5px;
    width: 100%;
}
.red-box {
    border: 2px red dashed;
    margin: 5px;
}